body{
    background-color: aqua;
}
.dayTitle{
    text-align: center;
    color: brown;
}

.btn {
   background-color: pink !important;
}

.card-img-top{
    height: 200px;
}

.card{
    margin: 4px 4px;
}